/* 主体样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#loading {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

#main-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* 选项卡样式 */
.tab-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-menu li {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  cursor: pointer;
}

.tab-menu li.active {
  background-color: #f2f2f2;
}

/* 内容区域样式 */
.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.dataTables_filter {
  padding: 20px;
}

/* DataTables 样式 */
#main-table_wrapper {
  width: 100%;
  box-sizing: border-box;
}

/* 响应式样式 */
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  #main-table {
    font-size: 12px;
  }

  #main-table th,
  #main-table td {
    padding: 5px;
  }
}
