body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* 添加 display 属性 */
  flex-direction: column; /* 垂直排列输入框 */
  align-items: center; /* 水平居中 */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0077cc;
}

#name-output,
#stock-price {
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 480px) {
  form {
    max-width: 90%;
  }
}
